<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: form_class do |f| %>

  <p><%= intro_text %></p>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :driver_id%>
  <%= f.text_field :driver_id %>

  <%= f.label :passenger_id%>
  <%= f.text_field :passenger_id %>

  <%= f.label :cost%>
  <%= f.text_field :cost %>

  <%= f.label :rating%>
  <%= f.text_field :rating %>

  <%= f.submit action_name, class:"trip-form-btn"%>

  <% end%>