<h1>Trip Info</h1>

Trip id: <%=@trip.id%>, Date: <%=@trip.date%>, Rating: <%=@trip.rating%>, Cost: $<%=@trip.cost%>, Driver id: <%=@trip.driver_id%></li>
<p>Find me in app/views/trips/show.html.erb</p>
