<h1>Trip Info</h1>

Trip id: <%=@trip.id%>, Date: <%=@trip.date%>, Rating: <%=@trip.rating%>, Cost: $<%=@trip.cost%>, Driver id: <%=@trip.driver_id%>, Passenger id: <%=@trip.passenger_id%></li>

<div>
<%= link_to "Delete Trip", 
    trip_path(@trip.id), method: :delete %>
</div>

