<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ride Share!</h1>
      <section>
      <%= link_to "Passengers", passengers_path %>
      <%= link_to "Add a Passengers", new_passenger_path %>
      <%= link_to "Drivers", drivers_path %>
        <%= link_to "Add a Driver",
            new_driver_path  %>
      </section>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
